.main-news-card-list {
  box-sizing: border-box;
  margin: 0;
  padding: 80px 104px;
  background-color: rgba(245, 246, 247, 1);
}

.main-news-card-list__title {
  margin: 0;
  padding: 0 0 64px 0;
  font-family: "Roboto Slab", Garamond, "Times New Roman";
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(26, 27, 34, 1);
}

.main-news-card-list__show-more-button {
  display: block;
  width: 288px;
  height: 64px;
  margin: 64px auto 0;
  padding: 0;
  border-radius: 80px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  box-shadow: none;
  transition: linear 0.3s box-shadow;
}

.main-news-card-list__show-more-button:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
  transition: linear 0.3s box-shadow;
}
