.saved-news-card-list {
  box-sizing: border-box;
  margin: 0;
  padding: 80px 104px;
  background-color: rgba(245, 246, 247, 1);
}

.saved-news-card-list__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 16px 0;
}

@media screen and (max-width: 768px) {
  .saved-news-card-list {
    padding: 40px;
  }

  .saved-news-card-list__card-list {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  }
}
