.navigation {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0 104px 0 0;
  display: flex;
  align-items: center;
  gap: 32px;
}

.navigation__link {
  box-sizing: border-box;
  height: 100%;
  padding: 0 8px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  display: inline-flex;
  align-items: center;
}

.navigation__link_hidden {
  display: none;
}

.navigation__link_selected {
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}

.navigation__sign-in-button {
  box-sizing: border-box;
  width: 176px;
  height: 48px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navigation__sign-in-button_hidden {
  display: none;
}

.navigation__logout-button {
  padding: 0 17px;
  box-sizing: border-box;
  height: 48px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navigation__logout-button_hidden {
  display: none;
}

.navigation__logout-icon {
  padding: 0 0 0 15px;
}
