.navigation {
  margin: 0;
  padding: 0 104px 0 0;
  display: flex;
  gap: 42px;
}

.navigation__link {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  display: inline-flex;
  align-items: center;
}

.navigation__button {
  width: 176px;
  height: 48px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
