.footer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: 80px;
  margin: 0px;
  padding: 32px 104px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(182, 188, 191, 1);
  display: flex;
  align-items: center;
}

.footer__link-color_copyright {
  color: rgba(182, 188, 191, 1);
}

.footer__link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.footer__link .footer__link-transition {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 500ms ease;
}

.footer__link .footer__link-transition::before {
  display: inline-block;
  content: attr(data-content);
  color: rgb(44, 29, 255);
  transform: translateX(100%);
  transition: transform 500ms ease;
}

.footer__link:hover .footer__link-transition {
  transform: translateX(0);
}

.footer__link:hover .footer__link-transition::before {
  transform: translateX(0);
}

.footer__links {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer__link_color {
  color: rgba(26, 27, 34, 1);
}

.footer__link {
  margin: 0 40px 0 0;
  padding: 0;
  text-decoration: none;
}

.footer__icon-link {
  margin: 0;
  padding: 0;
  color: rgba(26, 27, 34, 1);
  text-decoration: none;
  opacity: 1;
  transition: linear 0.4s opacity;
}

.footer__icon-link:not(:last-child) {
  margin: 0 24px 0 0;
}

.footer__icon-link:hover {
  opacity: 0.5;
  transition: linear 0.4s opacity;
}

.footer__icon {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 64px;
    padding: 0 40px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    height: 176px;
    padding: 20px 16px 22px;
    flex-direction: column-reverse;
    align-items: baseline;
  }

  .footer__link {
    margin-right: 0;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 25px;
  }

  .footer__icon-links {
    position: absolute;
    top: 0;
    right: -215px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
